@import 'colors';
@import "bootstrap";
@import 'comments';
@import 'shows';
@import 'navigation';
@import 'material_icons';

.wait{
  cursor: wait !important;
}

.img-thumbnail{
  background-color: $primary;
  border: none;
  object-fit: cover;
  height: 300px;
  width: 300px;
}

body{
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
