@import 'colors';
@import "bootstrap";
@import 'comments';
@import 'shows';
@import 'navigation';
@import 'material_icons';

.wait{
  cursor: wait !important;
}

.img-thumbnail{
  background-color: $primary;
  border: none;
}