@import url(https://fonts.googleapis.com/css?family=Sedgwick+Ave);
@import url(https://fonts.googleapis.com/css?family=Pangolin);

$primary: #e2ce19;
$secondary: #111111;
$tertiary: #fff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);