@import 'colors';

#mainNav{
  font-family: 'Sedgwick Ave';
}

.locale-switcher{
  position: relative;
}

.locale-switcher .btn{
  line-height: 2;
}

.locale-switcher .dropdown-menu{
  position: absolute;
}

.locale-switcher .dropdown-menu li{
  padding: 5px;
  font-size: 1.2em;
}

.locale-switcher .dropdown-menu p{
  display: inline;
  margin-left: 5px;
}

.locale-switcher .dropdown-menu :hover{
  background-color: $secondary;
  transition: 0.5s;
}