// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'colors';

#upcoming-shows {
  padding: 156px 0 100px;
  font-family: 'Sedgwick Ave';
  .col-md-4{
    padding-bottom: 0;
    padding-top: 10px;
  }
}

#show_search_form {
  padding: 1em 0;
  color: $tertiary;
}

#shows {
  font-family: 'Pangolin';
  padding-top: 1em;
  min-height: 100vh;
}

#show {
  font-family: 'Pangolin';
  padding-top: 1em;
}

.new-show{
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: $secondary 4px 0px 13px;
  padding: 2em;
}

.single-show img{
  max-width: 100%;
}

.icon-with-text {
  display: inline-flex;
}

.event {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: $secondary 4px 0px 13px;
  cursor: pointer;
  a{
    text-decoration: none;
    color: $secondary;
  }
}

.event-card{
  display: inline-block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: $secondary 4px 0px 13px;
  cursor: pointer;
  .col-sm-2, .col-sm-3, .col-sm-7{
    padding: 0px;
  }
  a{
    text-decoration: none;
    color: $secondary;
  }
  img{
    object-fit: contain;
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .date{
    background-color: $primary;
    height: 100%;
    text-align: center;
    .day{
      font-size: 3.5em;
      color: $secondary;
    }
    .month{
      font-size: 1.2em;
      color: $secondary;
    }
  }
}


@media screen and (max-width:600px) {
  .event-card{
    height: 100%;
  }
}

.event .social {
  font-size: 25px;
  overflow: hidden;
}

.event .social .si {
  display: inline-block;
  width: 100%;
  clear: both;
  vertical-align: middle;
  overflow: hidden;
}

.event .social .facebook {
  color: rgb(48, 88, 145) !important;
}

.event .social .twitter {
  color: rgb(79, 213, 248) !important;
}

.event .social .google-plus {
  color: rgb(221, 75, 57) !important;
}

.event .social .facebook:hover {
  color: #607D8D !important;
}

.event .social .twitter:hover {
  color: #607D8D !important;
}

.event .social .google-plus:hover {
  color: #607D8D !important;
}

@media screen and (max-width:640px) {
  .event .desc h3 {
    font-size: 15px;
  }

  .event {
    height: 100px;
  }

  .event .date {
    width: 100px;
    height: 100px;
  }

  .event .date .day {
    font-size: 20px;
  }

  .event .img {
    width: 100px;
    height: 100px;
  }

  .event .social {
    font-size: 16px;
  }
}
